
.form-row {
    display: flex;
    align-items: center;
}
.form-label{
    margin-top: 3%;
    margin-left: 5%;
  }
.form-control {
    position: absolute;
    margin-top: 3%;
    left: 60%;
}
.buttonUp {
    position: absolute;
    margin-top: 3%;
    left: 80%;
}
.buttonDown {
    position: absolute;
    margin-top: 3%;
    left: 90%;
}